@model IEnumerable<WebApplicationApi.Models.Accessi>

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<table class="table">
    <tr>
        <th>
 
            @Html.DisplayNameFor(model => model.datatime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.datatime)
        </td>


    </tr>
}

</table>
